<section class="add_menu_form"></section>

<form class="p-5" action="/admin/editproduct/{{products._id}}" method="post" enctype="multipart/form-data">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4 mt-5">
        <h1 class="text-center">Edit Product</h1>
        <div class="col">

            <div data-mdb-input-init class="form-outline">
                <input type="text" id="form6Example1" name="product_name" class="form-control" value="{{products.product_name}}" />
                <label class="form-label" for="form6Example1">Product Name</label>
            </div>
        </div>
        
    </div>

    <!-- Name input -->
    <div class="btn-group mb-3 ">
  <input type="radio" class="btn-check" name="product_category" value="Breakfast" id="option1" autocomplete="off" {{#if_equal products.product_category "Breakfast"}} checked {{/if_equal}} />
  <label class="btn btn-secondary" for="option1" data-mdb-ripple-init>Breakfast</label>

  <input type="radio" class="btn-check" name="product_category" value="Lunch" id="option2" autocomplete="off" {{#if_equal products.product_category "Lunch"}} checked {{/if_equal}}/>
  <label class="btn btn-secondary" for="option2" data-mdb-ripple-init>Lunch</label>

  <input type="radio" class="btn-check" name="product_category" value="Dinner" id="option3" autocomplete="off" {{#if_equal products.product_category "Dinner"}} checked {{/if_equal}}/>
  <label class="btn btn-secondary" for="option3" data-mdb-ripple-init>Dinner</label>
</div>


    {{!-- <!-- Text input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" id="form6Example4" class="form-control" />
        <label class="form-label" for="form6Example4">Address</label>
    </div> --}}


    <!-- Price input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="number" name="product_price" id="form6Example6" class="form-control" value="{{products.product_price}}"/>
        <label class="form-label" for="form6Example6" >Price in QAR</label>
    </div>

    <!-- Image input -->
        <label class="form-label" for="form6Example5">Image</label>
        <img src="/images/product_image/{{products._id}}.png" alt="" style="width: 100px; height:auto" id="imgView" class="p-3">
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="file" name="product_image" id="form6Example5" class="form-control" onchange="viewImage(event)"/>
    </div>

    <!-- Description input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <textarea class="form-control" name="product_description" id="form6Example7" rows="4">{{products.product_description}}</textarea>
        <label class="form-label" for="form6Example7">Description</label>
    </div>

    <!-- Checkbox -->


    <!-- Submit button -->
    <button type="submit" class="btn btn-primary  mb-4">Update</button>
</form>
</section>

<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>